@import '../scss/global/variables';
@import '../scss/global/mixins';


section#case_study_section {
  &:before {
    content: "";
    height: 150px;
    width: 100%;
    background-image: linear-gradient(-6deg,#f8fafc,#f8fafc 50%,#fff 0,#fff);
    display: block;
  }
  background: #f8fafc;
  //&:after {
  //  content: "";
  //  height: 150px;
  //  width: 100%;
  //  background-image: linear-gradient(-6deg,#fff,#fff 50%,#f8fafc 0,#f8fafc);
  //  display: block;
  //}
}
